///========================================
// GLOBALS:
//========================================
* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  // background-color:lightskyblue;
}

//========================================
// HOME  PAGE:
// //========================================
html, body, header, #intro {
  height: 100%;
}

.div-home-intro, .div-home-tired, .div-home-hell {
  color: white;
}



// OLD VERSION:
// .name.strong {
//   color: $btn-primary;  //blue
//   font-size: 1.5rem;

// }
// .typer {
//   border-radius: 5%;
//   padding: 1rem;
//   background-color: $btn-primary;
//   color: white;
// }

// NEW VERSION:
.name.strong, #name {
  color: $btn-primary;
  font-size: 1.5rem;
}

#name {
  font-size: 3rem;
}

#hell-out {
  color: $btn-primary;
  font-weight: 900;
  font-size: 1.7em;
}

.h3-home-tired {
  padding-top: 2rem;
}
.typer {
  color: $bg-primary;
  border-radius: 5%;
  padding: 1rem;
}

#intro {
  background: url("/images/monkey.jpg");
  opacity: 0.9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//========================================
// ALL INDEX PAGES:
//========================================
.card-index {
  width: 20rem;   // 1-2-3-4:sm-md-lg-xl
  margin: 1.5rem;
  // padding: 1rem 0.5rem;
}

.card-index-title, .card-index-tags {
  padding: 0.4rem;
}

span {
  font-size: 0.9em;
  // margin: 0 0.7rem;
}

// span:before{
//   content:","; 
//   display:inline-block; 
//   width: 1rem;
// }

.card-index-btn-view {
  margin-top: 0.5em;
  // margin-bottom: 0.3em;
}

//========================================
// FILTER/SEARCH PAGE:
// ALL IN COMPONENTS.CSS
//========================================

//========================================
// OVERWRITE BS VENUES/SHOW PAGE:
//========================================
.btns-show-top {

}

.card-show {
  // width: 40em;
  // margin: 0rem 2rem ;
  padding: 0rem 2rem;
  // max-height: 150vh;
}

.card-show-body {
  // overflow: hidden;
}



