* {
  box-sizing: border-box;
}

// body {
//   background-color: orange;
// }

// venues/index
.card-index {
  width: 20rem;
  margin: 2rem 0 2rem 0;
}

.card-title {
  font-size: 1.1em;
}

span {
  font-size: 0.9em;
}

