* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

// body {
//   background-color: orange;
// }


// venues/index
.card-index {
  width: 20rem;   // 1-2-3-4:sm-md-lg-xl
  margin: 1.5rem;
  // padding: 1rem 0.5rem;
}

.card-show {
  width: 30rem;
  // margin: 2rem 0 2rem 0;
}


.card-title {
  // padding:
}

span {
  font-size: 0.9em;
}

