
.main, .results-container, .filter-list{
  padding: 1rem;
  background-color: lightgrey;
  border-radius: .5rem;

}

.results-container{
  background-color: lightgrey;
}

.filter-list{
  background-color: lightgray;
  border-radius: .5rem;
}

.results-container{
  background-color: white;
  border-radius: .5rem;
}


