.card-filter {
  width: 20rem;    
  /* 1-2-3-4:sm-md-lg-xl */
  margin: 1.5rem;
  /* padding: 1rem 0.5rem; */
}

.card-filter-title, .card-filter-tags-p {
  padding-left: 0.4rem;
}

span {
  font-size: 0.9em;
}

.card-filter-imgcontainer {
  height: 10rem;
  overflow: hidden;
}

.ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .card-filter-body {
  max-height: 30rem;
  overflow: hidden;
} */

.card-filter-btn-websitelink, .card-filter-btn-view {
  margin-top:0.5rem

}
